
@{
    ViewData["Title"] = "OrderDetail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@await Html.PartialAsync("~/Areas/Admin/Views/Shared/_BreadScrum.cshtml")

<button type="button" id="btn-comfirm" class="btn btn-primary float-right mr-5 mb-4">Xác nhận đơn</button>
<table class="table table-bordered" id="result">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Address</th>
            <th>Product Name</th>
            <th>Price</th>
            @* <th>Code</th> *@
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
@section Scripts {
    <script src="~/admin/dist/js/orderdetail.js"></script>
}