@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<link href="~/admin/dist/plugins/datatable/css/datatables.min.css" rel="stylesheet" />
<link href="~/admin/dist/plugins/datatable/css/responsive.bootstrap.min.css" rel="stylesheet" />
<!-- Main content -->
@await Html.PartialAsync("~/Areas/Admin/Views/Shared/_BreadScrum.cshtml")
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-grid gap-2 d-md-block">
                            <a class="btn btn-primary" type="button" asp-controller="User" asp-action="SaveData">Thêm tài khoản</a>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="tbl-account" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Full name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>IsActive</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Username</td>
                                    <td>Full name</td>
                                    <td>Email</td>
                                    <td>Phone</td>
                                    <td>IsActive</td>
                                    <td>Action</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script src="~/admin/dist/plugins/datatable/js/datatables.min.js"></script>
    <script src="~/js/registerdatatable.js"></script>
    <script>
        const elementName = '#tbl-account';
        const urlApi = '/admin/user/getaccountpagination';
        const columns = [
            { data: 'username', name: 'username' },
            { data: 'fullname', name: 'fullname'},
            { data: 'email', name:'email' },
            { data: 'phone', name:'phone'},
            { data: 'isActive', name: 'isActive' },
            { data: 'id', name: 'id', render: function (key) {
                    return `<a href="/admin/user/savedata?id=${key}"><i class="fas fa-pen"></i></a> &nbsp <a href="#"><i class="fas fa-trash"></i></a>`
            }}
        ];
        registerDataTable(elementName, columns, urlApi)
    </script>
}