@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@await Html.PartialAsync("~/Areas/Admin/Views/Shared/_BreadScrum.cshtml")
<section class="content">
</section>