<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mini Mart Management</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />
    <link rel="stylesheet"
          href="~/admin/dist/plugins/fontawesome-free/css/all.min.css" />
    <link href="~/admin/dist/css/adminlte.min.css" rel="stylesheet" />
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        @await Html.PartialAsync("_Header.cshtml")
        @await Html.PartialAsync("_Sidebar.cshtml")
        <div class="content-wrapper">
            <section class="content mt-5">
                @RenderBody()
            </section>
        </div>
        @await Html.PartialAsync("_Footer.cshtml")
    </div>

    <script src="~/admin/assets/libs/jquery/jquery.min.js"></script>
    <script src="~/admin/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/admin/dist/js/adminlte.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>