@model MiniMart.Application.DTOs.ProductDto;

@{
    ViewData["Title"] = "Product";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link href="~/admin/dist/plugins/datatable/css/datatables.min.css" rel="stylesheet" />
<link href="~/admin/dist/plugins/datatable/css/responsive.bootstrap.min.css" rel="stylesheet" />
<!-- Main content -->
@await Html.PartialAsync("~/Areas/Admin/Views/Shared/_BreadScrum.cshtml")
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-grid gap-2 d-md-block">
                            <a asp-controller="Product" asp-action="SaveData" class="btn btn-primary" type="button" id="btn-save">Thêm sản phẩm</a>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="tbl-product" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Tên Sản Phẩm</th>
                                    <th>Danh Mục</th>
                                    <th>Số Lượng</th>
                                    <th>Giá</th>
                                    <th>Ngày Tạo</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@* @await Html.PartialAsync("_SaveModal.cshtml", Model) *@

@section Scripts {
    <script src="~/admin/dist/plugins/datatable/js/datatables.min.js"></script>
    <script src="~/js/registerdatatable.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/admin/dist/js/product.js"></script>
}
